@font-face {
    font-family: beatles;
    src: url(BOOTLE__.TTF);
}

.bea {
  font-family: beatles;
}

.container {
  margin-bottom: 50px;
}

.jumbotron{
height: 400px;
width: auto;
background-image: url("../images/splash.jpg");
background-size: cover;}

.splashHeading {
  margin-top: 200px;
}

.ansText {
  margin-top: 50px;
  background-color: #FFFFCC;
  border-radius: 10px;
}


body {
  background-color: #FFFFCC;
}
